.login-button {
    background-color: green;      /*  we changed the color */
    color: white;
    padding: 15px;               /* we increased the paddins */
    border-radius: 20px;         /* added rounded corners */
    font-size: 12px;
}
